* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    height: 100%;

    background-color: #353336;
}

.canvas {
    border-radius: 12px;
    background-color: #161618;
}